:host {
  display: block;
  width: 100%;
  min-height: 100%;
}

.auth-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ebebed transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #ebebed;
    border-radius: 9999px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}