<div class="
    w-full 
    px-4 sm:py-10 
    px-2 sm:px-10 
    gap-10
    flex flex-col
">
    <lib-product-breadcrumb [business]="business"></lib-product-breadcrumb>
    <div class="
        w-full
        flex flex-col
        gap-6
    ">
        <div class="w-full flex flex-row gap-6 items-center justify-center">
            <p-skeleton width="340px"
                height="340px" />
            <p-skeleton width="340px"
                height="340px" />
            <p-skeleton width="340px"
                height="340px" />
            <p-skeleton width="340px"
                height="340px" />
        </div>
        <div class="w-full flex flex-row gap-3 items-center justify-center">
            <p-skeleton width="50px"
                height="50px" />
            <p-skeleton width="50px"
                height="50px" />
            <p-skeleton width="50px"
                height="50px" />
            <p-skeleton width="50px"
                height="50px" />
        </div>
    </div>
    <lib-product-info></lib-product-info>
    <div class="
        w-full
        flex flex-col
        mt-4
        gap-6
    ">
        <div class="w-full flex flex-row gap-6 items-center justify-center">
            <lib-product-card [index]="1" [width]="'w-70'" [height]="'h-70'"></lib-product-card>
            <lib-product-card [index]="2" [width]="'w-70'" [height]="'h-70'"></lib-product-card>
            <lib-product-card [index]="3" [width]="'w-70'" [height]="'h-70'"></lib-product-card>
            <lib-product-card [index]="4" [width]="'w-70'" [height]="'h-70'"></lib-product-card>
        </div>
    </div>
</div>