<section
  class="h-100vh-calc flex flex-col gap-10 sm:gap-15 items-center justify-center p-0 lg:p-5 w-10/10"
>
  <h2 class="text-center text-4xl lg:text-5xl font-medium">
    {{'general.lineUp' | translate}}
  </h2>

  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-8 items-center justify-start w-10/10 md:w-5/10 max-w-md p-10 bg-primary-50 radius shadow-lg"
  >
    <h4 class="text-center text-2xl lg:text-3xl font-medium">
      {{'general.login' | translate}}
    </h4>

    <div class="w-8/10 flex flex-col items-center justify-center">
      <div #googleBtn class="google-signin-btn"></div>
    </div>

    <p-floatlabel class="w-10/10 max-w-xs mt-2">
      <input
        pInputText
        class="w-10/10 font-medium"
        formControlName="email"
        id="email"
        [pSize]="'small'"
        autocomplete="off"
      />
      <label for="email" class="font-medium"
        >{{'general.usernameOrEmail' | translate}}</label
      >
    </p-floatlabel>

    <p-floatlabel class="w-10/10 max-w-xs mt-2">
      <p-password
        [feedback]="false"
        class="w-10/10 font-medium"
        formControlName="password"
        [fluid]="true"
        [size]="'small'"
        [toggleMask]="true"
        inputId="password"
      />
      <label for="password" class="font-medium"
        >{{'general.password' | translate}}</label
      >
    </p-floatlabel>

    <div class="w-8/10 flex flex-col items-center justify-center mt-3 gap-5">
      <lib-button
        label="{{'general.enter' | translate}}"
        [type]="'rounded'"
        [size]="'small'"
        [width]="'w-60'"
        [buttonType]="'submit'"
        [disabled]="attempt"
        [loading]="attempt"
      ></lib-button>

      <lib-button
        label="{{'general.register' | translate}}"
        [link]="'/register'"
        [type]="'rounded'"
        [color]="'secondary'"
        [size]="'small'"
        [width]="'w-60'"
      ></lib-button>
    </div>
  </form>
</section>
