::ng-deep {
    .p-carousel-next-button {
        width: 25px;
        height: 25px;
    }

    .p-carousel-prev-button {
        width: 35px;
        height: 35px;
    }

    .p-carousel-indicator-button {
        border-radius: 50% !important;
    }

    .p-togglebutton-checked {
        background-color: darken(#272727, 5%);
        color: #fff;
        border-color: darken(#272727, 5%);
    }
}

.file-upload:hover {
    border-color: var(--primary);
    background-color: #efefef;
}

.border-grey {
    border: 1px solid #cbd5e1 !important;
}

.background {
    background-color: #fffafa;
}