<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="w-full py-4 sm:py-5 px-2 sm:px-10 gap-8 flex flex-col items-center">
  <lib-product-breadcrumb
    [business]="business"
    class="w-full"
  ></lib-product-breadcrumb>
  @if (attempt) {
  <div class="item flex justify-center p-10 mt-10">
    <p-progress-spinner
      strokeWidth="4"
      [style]="{ width: '100px', height: '100px' }"
    />
  </div>
  } @else {
  <form
    [formGroup]="createProductForm"
    class="w-full flex flex-col gap-5 py-4 sm:py-12 px-4 sm:px-10 xl:px-18 rounded-lg border-grey xl:container"
  >
    <div class="flex flex-row items-center justify-between">
      <h1 class="text-3xl font-medium">
        {{ 'general.createProduct' | translate }}
      </h1>
    </div>
    <div class="w-full flex flex-col gap-2">
      <div class="flex flex-row items-end justify-start gap-2">
        <label for="title" class="font-semibold text-lg"
          >{{ 'general.title' | translate }}:</label
        >
      </div>
      <input
        pInputText
        id="title"
        placeholder="{{'general.productTitlePlaceholder' | translate}}"
        aria-describedby="title-help"
        formControlName="title"
      />
    </div>
    <div class="w-full flex flex-col gap-2">
      <div class="flex flex-row items-end justify-start gap-2">
        <label for="title" class="font-semibold text-lg"
          >{{ 'general.subtitle' | translate }}:</label
        >
      </div>
      <input
        pInputText
        id="subtitle"
        placeholder="{{'general.productSubtitlePlaceholder' | translate}}"
        aria-describedby="title-help"
        formControlName="subtitle"
      />
    </div>
    <div class="w-full flex flex-row justify-between">
      <div class="w-full md:w-1/2 lg:w-2/3 xl:w-full flex flex-col gap-5">
        <div class="w-full flex flex-col items-center justify-center gap-2">
          <div class="w-full flex flex-row flex-wrap items-end justify-start">
            <label for="image" class="font-semibold text-lg">
              {{'general.imagesUpload' | translate}}:
            </label>
          </div>
          <div
            class="w-full flex flex-row flex-wrap items-center justify-start gap-5"
          >
            <!-- Área de subir imagen -->
            <div class="flex flex-col items-start justify-center gap-1 w-40">
              <div
                class="file-upload border-2 border-dashed border-gray-400 rounded-lg p-2 text-center cursor-pointer transition-colors duration-300 h-40 flex w-full items-center justify-center"
                tabindex="0"
                (click)="openImageCropper()"
                [ngClass]="{ 'border-blue-500 bg-blue-50': isDragging }"
              >
                <div class="flex flex-col items-center text-gray-600">
                  <i class="pi pi-image text-5xl mb-2" style="color: black"></i>
                  <p class="text-sm">
                    {{ 'general.imagesUploadPlaceholder' | translate }}
                  </p>
                </div>
              </div>
            </div>

            <div>
              @if (urls.length > 0) {

              <lib-draggable-image-list
                [images]="urls"
                [imageCodes]="imgCodes"
                (imagesChange)="onImagesChange($event)"
              />
              }
            </div>
          </div>
        </div>
        <div class="w-full flex flex-col gap-1">
          <label for="price" class="font-semibold text-lg"
            >{{ 'general.price' | translate }}:</label
          >
          <div class="flex flex-col lg:flex-row gap-2 w-full">
            <p-select
              formControlName="idCurrency"
              [options]="currencies"
              optionLabel="name"
              optionValue="id"
              (onChange)="onCurrencyChange($event)"
              placeholder="{{'general.selectCurrency' | translate}}"
              class="w-full lg:w-52"
            >
              <ng-template #selectedItem let-selectedOption>
                @if (selectedOption) {
                <div class="flex items-center gap-2">
                  <i [class]="selectedOption.icon" style="font-size: 1rem"></i>
                  <div>{{ selectedOption.name | translate }}</div>
                </div>
                }
              </ng-template>
              <ng-template let-currency #item>
                <div class="flex items-center gap-2">
                  <i [class]="currency.icon" style="font-size: 1rem"></i>
                  <div>{{ currency.name | translate }}</div>
                </div>
              </ng-template>
            </p-select>
            <p-inputnumber
              inputId="minmaxfraction"
              mode="decimal"
              locale="es-ES"
              formControlName="price"
              [minFractionDigits]="2"
              [maxFractionDigits]="2"
              [disabled]="selectedCurrency?.id === 0"
            />
          </div>
        </div>
        <div class="w-full flex flex-col gap-3">
          <div class="flex flex-row items-center justify-between">
            <label for="title" class="font-semibold text-lg"
              >{{ 'general.variations' | translate }}:</label
            >
          </div>
          <div
            class="w-full flex flex-col gap-3 items-start justify-start"
            formArrayName="variations"
          >
            @for (item of variationsFormArray.controls; track $index) {
            <div
              class="w-full flex flex-col background rounded-lg p-4 shadow gap-3"
              [formGroupName]="$index"
            >
              <div class="w-full flex flex-col gap-2">
                <div class="w-full flex flex-row items-center justify-between">
                  <label
                    [attr.for]="'variation-title-' + $index"
                    class="font-semibold text-lg"
                  >
                    {{ 'general.name' | translate }}:
                  </label>
                  <button
                    type="button"
                    class="bg-red-100 rounded-full p-1 shadow text-xl p-carousel-prev-button cursor-pointer"
                    (click)="removeVariation($index)"
                    [attr.aria-label]="'general.remove' | translate"
                  >
                    <i class="pi pi-times" style="color: #ff3535"></i>
                  </button>
                </div>
                <input
                  pInputText
                  [id]="'variation-title-' + $index"
                  aria-describedby="title-help"
                  formControlName="title"
                  [placeholder]="'general.variationNamePlaceholder' | translate"
                />
              </div>
              <div class="flex flex-row items-center gap-2 w-full mt-2">
                <label
                  [attr.for]="'variation-option-' + $index"
                  class="font-semibold text-lg"
                >
                  {{ 'general.value' | translate }}:
                </label>
                <input
                  pInputText
                  [id]="'variation-option-' + $index"
                  formControlName="newOption"
                  [placeholder]="'general.variationValuePlaceholder' | translate"
                  (keydown.enter)="$event.preventDefault(); addVariationOption(item)"
                />
                <lib-button
                  [width]="'w-11'"
                  icon="pi pi-plus"
                  type="rounded"
                  (action)="addVariationOption(item)"
                >
                </lib-button>
              </div>
              <div
                class="flex flex-row flex-wrap items-end justify-start gap-2 w-full"
                formArrayName="options"
              >
                @for (opt of getVariationOptionsFormArray(item).controls; track
                $index; let optIndex = $index) {
                <p-chip
                  [label]="opt.value"
                  [removable]="true"
                  (onRemove)="removeVariationOption(item, optIndex)"
                >
                </p-chip>
                }
              </div>
            </div>
            }
          </div>
          <div class="flex flex-row items-center justify-between">
            <lib-button
              label="{{'general.add' | translate}}"
              [icon]="'pi pi-plus'"
              [width]="'w-auto'"
              size="small"
              type="rounded"
              (action)="addVariation()"
            >
            </lib-button>
          </div>
        </div>
        <div class="w-full flex flex-col gap-1">
          <div class="flex flex-col gap-2 w-full">
            <label for="description" class="font-semibold text-lg"
              >{{ 'general.description' | translate }}:</label
            >
            <p-editor
              formControlName="description"
              [style]="{ height: '320px' }"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-row item-center justify-center">
      <lib-button
        icon="pi pi-plus"
        [label]="product ? ('general.updateProduct' | translate) : ('general.createProduct' | translate)"
        [width]="'w-60'"
        type="rounded"
        [loading]="isSubmitting"
        [disabled]="isSubmitting"
        (action)="createProduct()"
      ></lib-button>
    </div>
  </form>
  }
</div>
