::ng-deep {
  .p-carousel-indicator-button {
    border-radius: 50% !important;
  }

  .p-togglebutton-checked {
    background-color: darken(#272727, 5%);
    color: #fff;
    border-color: darken(#272727, 5%);
  }

  .file-upload:hover {
    border-color: var(--primary);
    background-color: #efefef;
  }

  .border-grey {
    border: 1px solid #cbd5e1 !important;
  }

  // .p-listbox-list {
  //   list-style-type: none;
  //   margin: 0;
  //   padding: var(--p-listbox-list-padding);
  //   outline: 0 none;
  //   display: flex;
  //   flex-direction: row !important;
  //   gap: var(--p-listbox-list-gap);
  // }

  .p-orderlist-controls {
    max-height: 14rem;
  }

  .delete-button {
    width: 30px;
    height: 30px;
  }
}
