::ng-deep {
  .max-width {
    max-width: 950px;
  }

  .search {
    width: 100%;
    max-width: 770px;
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    @media screen and (max-width: 640px) {
      max-width: 400px;
      height: 70px;
    }
  }

  // .p-carousel-item {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: center;
  //   box-sizing: border-box !important;
  //   padding: 6px;
  // }

  .input {
    border-radius: var(--border-radius);
    border: 1px solid var(--p-primary-200);
    height: 40px;
    outline: none;
    padding: 0 40px;
  }

  .p-carousel-indicator-button {
    border-radius: 50% !important;
  }

  .iconfield {
    border-radius: var(--border-radius);
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    gap: 1.5rem;
    width: 100%;
    padding: 0 0.25rem 2.5rem;

    @media (min-width: 640px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    @media (min-width: 768px) {
      padding-left: 3.75rem;
      padding-right: 3.75rem;
    }
  }
}
