<section
  class="my-ratings flex flex-col gap-6 py-5"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
  [infiniteScrollDisabled]="attempt || noMoreResults"
  (scrolled)="onScroll()"
>
  <h2 class="text-2xl font-semibold ps-4">
    {{ 'general.myRatings' | translate }}
  </h2>

  <div class="flex flex-col gap-4 px-4 xl:px-8 py-4 w-full max-w-3xl mx-auto">
    @if (loadedOnce && ratings.length === 0) {
    <p class="text-center text-gray-500 py-10">
      {{ 'general.myRatingsEmpty' | translate }}
    </p>
    }

    <div class="flex flex-col gap-4 mb-6">
      @for (rating of ratings; track rating.id) {
      <lib-rating-item [rating]="rating" />
      }
    </div>

    @if (attempt) {
    <div class="flex justify-center p-10">
      <p-progress-spinner
        strokeWidth="4"
        [style]="{ width: '100px', height: '100px' }"
      />
    </div>
    }
  </div>
</section>
