<section
  class="py-8 md:pt-12 px-2 sm:px-0 xl:px-5 2xl:px-8 flex flex-col gap-4 sm:gap-8 items-center justify-start w-full"
>
  <section class="w-10/10 flex flex-col gap-10 items-center justify-start">
    <lib-search-bar
      class="w-full max-w-200"
      (searchSubmit)="onSearchSubmit($event)"
      [shrink]="true"
    ></lib-search-bar>

    <!-- <p-dialog
      [header]="'general.filters' | translate"
      [modal]="true"
      [(visible)]="visible"
      [style]="{ width: '25rem', height: '90vh' }"
    >
      <lib-search-filters></lib-search-filters>
    </p-dialog> -->

    <!-- <div class="
        flex flex-col
        items-start justify-center
        gap-5
        w-10/10">
        <h3 class="font-medium text-3xl pl-10">Negocios destacados</h3>
        <div class="card w-10/10">
            <p-carousel [value]="products"
                        [numVisible]="5"
                        [numScroll]="1"
                        [circular]="true"
                        [responsiveOptions]="responsiveOptions"
                        autoplayInterval="3000">
                <ng-template let-product
                             #item>
                    <lib-business-card class="cursor-pointer w-45 my-3"
                                       [width]="'w-45'"
                                       [height]="'h-50'"></lib-business-card>

                </ng-template>
            </p-carousel>
        </div>
    </div>

    <div class="
        flex flex-col
        items-start justify-center
        gap-5
        w-10/10">
        <h3 class="font-medium text-3xl pl-10">Catalogos destacados</h3>
        <div class="card w-10/10">
            <p-carousel [value]="products"
                        [numVisible]="5"
                        [numScroll]="1"
                        [circular]="true"
                        [responsiveOptions]="responsiveOptions"
                        autoplayInterval="300000">
                <ng-template let-product
                             #item>
                    <div class="w-full flex flex-col justify-center items-center">
                        <lib-catalog-card class="cursor-pointer my-3 w-45 h-50"
                                          [width]="'w-45'"
                                          [height]="'h-50'"></lib-catalog-card>
                    </div>


                </ng-template>
            </p-carousel>
        </div>
    </div> -->
    <div class="flex flex-row items-start justify-center w-10/10 gap-3">
      <div
        class="filters-parent-container hidden lg:flex flex-col items-start justify-start gap-5 w-3/12"
      >
        <div class="w-10/10 mt-15 filters-container">
          <lib-search-filters
            (setFilters)="setFilters($event)"
          ></lib-search-filters>
        </div>
      </div>
      <div
        class="flex flex-col items-start justify-center gap-5 w-10/10 lg:w-9/12"
      >
        <div
          class="w-full lg:w-auto flex flex-row items-center justify-between lg:justify-start gap-6 px-5 sm:px-10"
        >
          <h3 class="font-medium text-xl sm:text-3xl">
            {{'general.searchResults' | translate}}
          </h3>
          <lib-button
            width="w-13"
            size="large"
            icon="pi pi-sliders-h"
            type="rounded"
            (action)="showFiltersDialog()"
            class="block lg:hidden"
          >
          </lib-button>
        </div>
        @if(items.length > 0) {
        <div
          class="w-full products-grid"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [scrollWindow]="true"
          [infiniteScrollDisabled]="attempt || noMoreResults"
          (scrolled)="onScroll()"
        >
          @for (item of items; track item.id) { @if(item.__typename ===
          'BusinessSchema') {
          <div class="w-full flex flex-col items-center justify-center">
            <lib-business-card
              class="my-3"
              [width]="'w-60'"
              [height]="'h-80'"
              [business]="item"
            ></lib-business-card>
          </div>
          } @else if(item.__typename === 'CatalogSchema') {
          <div class="w-full flex flex-col items-center justify-center">
            <lib-catalog-card
              class="my-3"
              [width]="'w-60'"
              [height]="'h-80'"
              [catalog]="item"
            ></lib-catalog-card>
          </div>
          } @else if(item.__typename === 'ProductSchema') {
          <div class="w-full flex flex-col items-center justify-center">
            <lib-product-card
              class="my-3"
              [width]="'w-60'"
              [height]="'h-80'"
              [product]="item"
            ></lib-product-card>
          </div>
          } }
        </div>
        } @if(!attempt) {
        <div class="card flex flex-col items-center justify-center p-10 w-full">
          <p-progress-spinner
            strokeWidth="4"
            [style]="{ width: '100px', height: '100px' }"
          />
        </div>
        } @else if(items.length === 0) {
        <div
          class="card flex flex-col items-center justify-center mt-10 p-10 w-full"
        >
          <h3 class="text-2xl font-medium text-center w-6/10">
            {{'general.noResults' | translate}}
          </h3>
        </div>
        }
      </div>
    </div>
  </section>
</section>
