::ng-deep {
  .max-width {
    max-width: 760px;
  }

  .filters-parent-container {
    max-width: 300px;
  }

  .filters-shrink {
    width: calc(2 / 12 * 100%);
    min-width: 250px;
    position: fixed;
    top: 50px;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 260px), 1fr));
  gap: 1rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
