<!-- eslint-disable @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
<div class="w-full py-4 sm:py-5 px-2 sm:px-10 gap-8 flex flex-col items-center">
  <lib-product-breadcrumb
    [business]="business"
    class="w-full"
  ></lib-product-breadcrumb>
  <div
    class="w-full flex flex-col gap-10 py-4 sm:py-12 px-4 sm:px-10 xl:px-18 rounded-lg border-grey max-w-5xl"
  >
    <div class="flex flex-row items-center justify-between">
      @if (catalogPath) {
      <h1 class="text-3xl font-medium">
        {{ 'general.editCatalog' | translate }}
      </h1>
      } @else {
      <h1 class="text-3xl font-medium">
        {{ 'general.createCatalog' | translate }}
      </h1>
      }
    </div>

    <form class="w-full flex flex-col gap-10" [formGroup]="createCatalogForm">
      <div class="flex flex-col items-start justify-center gap-2 w-full">
        <div class="flex flex-row items-end justify-start gap-2">
          <label for="title" class="font-medium text-lg"
            >{{'general.catalogName' | translate}}:</label
          >
        </div>
        <input
          pInputText
          type="text"
          id="name"
          [maxlength]="maxLengthCatalogName"
          formControlName="catalogName"
          class="input w-full h-11"
          placeholder="{{'general.catalogNamePlaceholder' | translate}}"
        />
        <small
          id="catalogName-help"
          class="text-color-secondary text-xs mt-1 block"
        >
          {{ createCatalogForm.get('catalogName')?.value.length }} / {{
          maxLengthCatalogName }}
        </small>
      </div>
      <div class="flex flex-col items-start justify-center gap-2 w-full">
        <label for="catalogHexColor" class="font-medium text-lg"
          >{{ 'general.catalogColor' | translate }}:</label
        >

        <div class="w-full flex flex-row items-center justify-start gap-3">
          <input
            pInputText
            class="w-40"
            formControlName="hexColor"
            name="hexColor"
            pSize="small"
            autocomplete="off"
          />
          <p-colorpicker
            class="border-2 border-gray-500 rounded-lg"
            formControlName="hexColor"
            name="hexColor"
            (onChange)="setColor($event)"
            inputId="cp-hex"
          />
        </div>
      </div>
      <div class="flex flex-col items-start justify-start gap-2 w-full">
        <label for="image" class="font-medium w-full text-lg"
          >{{'general.imageUpload' | translate}}:</label
        >
        <div
          class="file-upload w-48 border-2 border-dashed border-gray-400 rounded-lg p-2 text-center cursor-pointer transition-colors duration-300 h-48 flex items-center justify-center"
          tabindex="0"
          (keyup.enter)="openImageCropper()"
          (click)="openImageCropper()"
          [ngClass]="{ 'border-blue-500 bg-blue-50': isDragging }"
        >
          @if (!imageUrl) {
          <div class="flex flex-col items-center text-gray-600">
            <i class="pi pi-image text-5xl mb-2" style="color: black"></i>
            <p class="text-sm">
              {{ 'general.imageUploadPlaceholder' | translate }}
            </p>
          </div>
          } @else {
          <div class="h-full w-full flex items-center justify-center">
            <img
              [src]="imageUrl"
              alt="Image selected"
              class="max-h-full max-w-full object-contain rounded-lg"
            />
          </div>
          }
        </div>
      </div>
      <div class="flex flex-col items-start justify-center gap-2 w-full">
        <div class="flex flex-row items-end justify-start gap-2">
          <label for="title" class="font-medium text-lg"
            >{{'general.tags' | translate}}:</label
          >
        </div>
        <div class="flex flex-row items-start justify-between w-full gap-2">
          <input
            pInputText
            type="text"
            id="tags"
            formControlName="tag"
            (keyup.enter)="addTag()"
            class="input w-full h-11"
            placeholder="{{'general.tagsPlaceholder' | translate}}"
          />
          <lib-button
            icon="pi pi-plus"
            label="{{ 'general.addTag' | translate }}"
            [width]="'w-60'"
            type="rounded"
            (click)="addTag()"
          ></lib-button>
        </div>

        <div class="card flex items-center gap-2 flex-wrap mt-4">
          @for (tag of tags; track $index) {
          <p-chip
            [label]="tag"
            [removable]="true"
            (onRemove)="removeTag($index)"
          />
          }
        </div>
      </div>

      <div class="w-full flex flex-row item-center justify-center">
        <lib-button
          icon="pi pi-plus"
          label="{{ 'general.save' | translate }}"
          [width]="'w-50'"
          type="rounded"
          (action)="createCatalog()"
          [loading]="attempt"
        ></lib-button>
      </div>
    </form>
  </div>
</div>
