<section class="profile flex flex-col gap-6 py-5 sm:py-0">
  <h2 class="text-2xl font-semibold ps-4">
    {{'general.editBusiness' | translate}}
  </h2>

  <div
    class="flex flex-col-reverse lg:flex-row justify-start lg:justify-center items-center lg:items-start gap-8 p-0 pe-3 sm:p-3"
  >
    <form
      class="flex flex-col justify-center items-center gap-8 w-3/3 md:w-2/3"
      [formGroup]="businessForm"
    >
      <div class="flex flex-col justify-center items-center gap-4">
        <h3 class="text-lg font-medium">
          {{'general.profilePicture' | translate}}
        </h3>
        <div
          tabindex="0"
          (keyup.enter)="openImageCropper()"
          (click)="openImageCropper()"
          class="image-placeholder flex flex-row justify-center items-center w-40 h-40 bg-gray-100 cursor-pointer"
        >
          @if (imageUrl) {
          <img
            [src]="imageUrl"
            alt="Business image"
            class="w-full h-full object-cover"
          />
          } @else {
          <i class="pi pi-camera" style="font-size: 4rem"></i>
          }
        </div>
      </div>
      <div class="flex flex-col gap-8 w-10/10 xl:w-7/10 max-w-4xl">
        <div
          class="flex flex-col sm:flex-row gap-8 justify-between items-start"
        >
          <p-floatlabel class="w-10/10">
            <input
              pInputText
              class="w-10/10 font-medium"
              formControlName="name"
              id="name"
              autocomplete="off"
            />
            <label for="name" class="font-medium"
              >{{'general.businessName' | translate}}*</label
            >
          </p-floatlabel>
        </div>
        <div
          class="flex flex-col sm:flex-row gap-8 justify-between items-start"
        >
          <p-floatlabel class="w-10/10">
            <input
              pInputText
              class="w-10/10 font-medium"
              formControlName="businessPath"
              id="businessPath"
              autocomplete="off"
            />
            <label for="businessPath" class="font-medium"
              >{{'general.businessPath' | translate}}*</label
            >
          </p-floatlabel>
        </div>
        <div class="flex flex-row gap-8 justify-between items-start">
          <p-floatlabel class="w-10/10">
            <input
              pInputText
              class="w-10/10 font-medium"
              formControlName="email"
              id="email"
              autocomplete="off"
            />
            <label for="email" class="font-medium"
              >{{'general.email' | translate}}*</label
            >
          </p-floatlabel>
        </div>

        <div
          class="flex flex-col sm:flex-row gap-8 justify-between items-start"
        >
          <p-floatlabel class="w-10/10">
            <p-inputmask
              class="w-10/10 font-medium block"
              formControlName="phone"
              id="phone"
              autocomplete="off"
              mask="(58) 499 999-9999"
              placeholder="(58) 499 999-9999"
            />
            <label for="phone" class="font-medium"
              >{{'general.phoneNumber' | translate}}</label
            >
          </p-floatlabel>
        </div>
      </div>
      <!-- <div class="flex flex-col gap-8 w-10/10 xl:w-7/10 max-w-4xl">
        <div
          class="flex flex-col sm:flex-row gap-8 justify-between items-start"
        >
          <p-floatlabel class="w-10/10">
            <input
              pInputText
              class="w-10/10 font-medium"
              formControlName="state"
              id="state"
              autocomplete="off"
            />
            <label for="state" class="font-medium"
              >{{'general.state' | translate}}*</label
            >
          </p-floatlabel>
          <p-floatlabel class="w-10/10">
            <input
              pInputText
              class="w-10/10 font-medium"
              formControlName="city"
              id="city"
              autocomplete="off"
            />
            <label for="city" class="font-medium"
              >{{'general.city' | translate}}*</label
            >
          </p-floatlabel>
        </div>
        <div class="flex flex-row gap-8 justify-between items-start">
          <p-floatlabel class="w-10/10">
            <input
              pInputText
              class="w-10/10 font-medium"
              formControlName="address"
              id="address"
              autocomplete="off"
            />
            <label for="address" class="font-medium"
              >{{'general.address' | translate}}</label
            >
          </p-floatlabel>
        </div>
      </div> -->
      <div class="flex flex-row justify-center items-center mt-5">
        <lib-button
          (action)="updateBusiness()"
          [loading]="attempt"
          [label]="'general.save' | translate"
          [type]="'rounded'"
          width="w-40"
        ></lib-button>
      </div>
    </form>
  </div>
</section>
