<section class="page flex flex-col gap-10 py-5 justify-start items-center">
  <div
    class="flex flex-col justify-start items-start sm:flex-row sm:justify-between sm:items-center gap-4 ps-4 pe-10 w-full"
  >
    <h2 class="text-2xl font-semibold self-start">
      {{ 'general.discounts' | translate }}
    </h2>

    <lib-button
      class="self-end"
      [type]="'rounded'"
      [icon]="'pi pi-plus'"
      [label]="'general.create' | translate"
      (action)="onCreateDiscount()"
    ></lib-button>
  </div>

  <div class="flex flex-col gap-4 w-11/12">
    @for (discount of discounts; track discount.id) {
    <lib-discount-item
      [discount]="discount"
      (edit)="onEditDiscount($event)"
      (delete)="onDeleteDiscount($event)"
    ></lib-discount-item>
    } @if(!loading && discounts.length === 0) {
    <div class="p-6 rounded-xl bg-gray-50 border border-gray-200 text-gray-600">
      <span class="font-medium">{{'general.noDiscounts' | translate}}</span>
    </div>
    }
  </div>

  @if(loading) {
  <div class="flex justify-center p-10">
    <p-progress-spinner
      strokeWidth="4"
      [style]="{ width: '100px', height: '100px' }"
    />
  </div>
  }
</section>
