::ng-deep {
  .title-content {
    padding: 8px 8px 0px 8px;
  }
  .p-card-body {
    padding: 0px !important;
  }
}

.border-radius {
  border-radius: var(--border-radius-catalog-card);
}

.button {
  height: 51px;
}

.border-grey {
  border: 1px solid #cbd5e1 !important;
}

.background {
  background-color: #fffafa;
}

.white {
  color: white;
}

.file-upload:hover {
  border-color: var(--primary); /* amarillo por defecto */
  background-color: #efefef;
}
