::ng-deep {
  .profile {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  .social-media-item {
    border-radius: 15px;
  }

  @media screen and (max-width: 639px) {
    .profile {
      height: calc(100vh - 88px);
      overflow-y: auto;
    }
  }
}
