::ng-deep {
  .favorites {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 240px), 1fr));
    gap: 1rem;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media screen and (max-width: 639px) {
    .favorites {
      height: calc(100vh - 88px);
      overflow-y: auto;
    }
  }
}
