<section class="settings flex flex-col gap-6 py-5 px-4 md:px-10">
  <h2 class="text-2xl font-semibold">{{'general.settings' | translate}}</h2>

  <div class="flex flex-col gap-6 justify-start items-center container">
    <div
      class="flex flex-col sm:flex-row sm:justify-between sm:items-center w-full gap-3"
    >
      <div class="flex flex-col gap-3 justify-start items-start">
        <h4 class="text-lg font-semibold">
          {{'general.password' | translate}}
        </h4>
        <p class="ps-4 md:ps-10 font-semibold">**********</p>
      </div>
      <lib-button
        class="self-end sm:self-center"
        [label]="'general.changePassword' | translate"
        [type]="'rounded'"
        [color]="'secondary'"
        [size]="'small'"
        width="w-50"
        (action)="changePassword()"
      ></lib-button>
    </div>

    <div
      class="flex flex-col sm:flex-row sm:justify-between sm:items-center w-full gap-3"
    >
      <div class="flex flex-col gap-3 justify-start items-start">
        <h4 class="text-lg font-semibold">{{'general.email' | translate}}</h4>
        <p class="ps-4 md:ps-10 font-medium text-sm sm:text-base">{{email}}</p>
      </div>
      @if (canChangeEmail) {
      <lib-button
        class="self-end sm:self-center"
        [label]="'general.changeEmail' | translate"
        [type]="'rounded'"
        [color]="'secondary'"
        [size]="'small'"
        width="w-50"
        (action)="changeEmail()"
      ></lib-button>
      }
    </div>
  </div>
</section>
