::ng-deep {
  .settings {
    height: calc(100vh - 120px);
    overflow-y: auto;
  }

  @media screen and (max-width: 639px) {
    .settings {
      height: calc(100vh - 88px);
      overflow-y: auto;
    }
  }
}
