<section class="settings flex flex-col gap-6 py-5">
  <h2 class="text-2xl font-semibold ps-4">
    {{'general.settings' | translate}}
  </h2>

  <div class="flex flex-col gap-8 px-2 xl:px-8 py-8 justify-start items-center">
    <div
      class="flex flex-wrap flex-row sm:flex-nowrap justify-between items-center w-9/10 md:w-6/10 gap-3"
    >
      <div class="flex flex-col gap-3 justify-start items-start">
        <h4 class="text-lg font-semibold">
          {{'general.password' | translate}}
        </h4>
        <p class="ps-10 font-semibold">**********</p>
      </div>
      <lib-button
        [label]="'general.changePassword' | translate"
        [type]="'rounded'"
        [color]="'secondary'"
        [size]="'small'"
        width="w-50"
        (action)="changePassword()"
      ></lib-button>
    </div>
  </div>
</section>
