<section
  class="flex flex-col items-center justify-center w-full py-2 sm:py-10 px-2 sm:px-10"
>
  <lib-product-breadcrumb class="w-10/10"></lib-product-breadcrumb>
  <div
    class="container flex flex-col items-center justify-center gap-4 sm:gap-8 w-full"
  >
    <lib-business-data
      [business]="business"
      [myBusiness]="myBusiness"
    ></lib-business-data>
    <div class="w-full flex flex-col items-center justify-center gap-6">
      <!-- <div class="w-full px-6 sm:px-10 md:px-26 lg:px:22 xl:px-46">
        <h2 class="text-4xl font-semibold text-center sm:text-left">LineUps</h2>
      </div> -->
      <div
        class="catalogs-grid"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [scrollWindow]="true"
        [infiniteScrollDisabled]="attempt || noMoreResults"
        (scrolled)="onScroll()"
      >
        @if (business && myBusiness) {
        <div class="w-full flex flex-col items-center justify-center">
          <lib-create-catalog-card
            [business]="business"
            [width]="'w-60 2xl:w-65'"
            [height]="'h-80'"
          ></lib-create-catalog-card>
        </div>

        } @for (catalog of catalogs; track catalog.id) {

        <div class="w-full flex flex-col items-center justify-center">
          <lib-catalog-card
            [width]="'w-60 2xl:w-65'"
            [height]="'h-80'"
            [catalog]="catalog"
          ></lib-catalog-card>
        </div>
        }
      </div>
    </div>
  </div>
</section>
